h1:hover {
  color: #e21027;
  cursor: pointer;
  transform: translateY(-30%);
  transition: 1s;
}
h1 {
  transition: 1s;
}
.principalButton {
  background-color: black;
  border-radius: 20px;
  width: fit-content;
  padding: 0rem 2rem;
}
p {
  font-size: 10px;
}

.logo-entrypoint {
  width: 200px;
}

.background {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
